div.image{
  text-align: right;
}
h3.heading{
  text-align: center;
}
div.personal-data{
  background-color: pink;
  font-size: 20px;
  color: gray;
  text-indent: 20px;
}
td.nAge{
  float: right;
  width: 300px;
}
td.nBod{
  float: right;
  width: 300px;
}
td.nGender{
  float: right;
  width: 300px;
}
td.nAdd{
  float: right;
  width: 300px;
}
div.Educational-Attainment{
  background-color: pink;
  font-size: 20px;
  color: gray;
  text-indent: 20px;
}
td.nElem{
  float: right;
  width: 300px;
}
td.nSecon{
  float: right;
  width: 300px;
}
td.nCollege{
  float: right;
  width: 300px;
}
div.Skills{
  background-color: pink;
  font-size: 20px;
  color: gray;
  text-indent: 20px;
}
td.first{
  width: 300px;
}
div.whole{
  width: 500px;
}